* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: clamp(5px, 1vw, 12px);
}

body {
  display: grid;
  grid-template:
    'header' max-content
    'main' auto / auto;
  margin: 0;
  color: #ffffff;
  background: #0f0f0f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif;
  font-size: 2.6rem;
  line-height: 1.4;
}

.container {
  --content-size: 1024px;
  --padding-size: 24px;

  width: auto;
  max-width: calc(var(--content-size) + var(--padding-size) * 2);
  margin: 0 auto;
  padding: 0 var(--padding-size);
}

.container.height-100 {
  height: 100%;
}

header {
  grid-area: header;
  background: #212121;
  padding: 16px 0;
}

main {
  grid-area: main;
  padding: 16px 0;
}

.avatar {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.chat-info {
  display: flex;
  align-items: center;
}

.chat-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-info .info .title {
  font-size: 3.4rem;
  font-weight: 600;
  margin: 0;
}

.chat-info .info .status {
  font-size: 2.8rem;
  line-height: 1.4;
  color: #aaaaaa;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.message:not(:last-child) {
  margin-bottom: 2rem;
}

.message.action {
  text-align: center;
}

.message.action > .text {
  display: inline-block;
  padding: 0 1.6rem;
  border-radius: 2.4rem;
  background: black;
  line-height: 4.5rem;
  font-weight: 400;
}

.message.default {
  display: flex;
  align-items: flex-end;
}

.message.default > .avatar {
  margin-right: 0;
}

.message.default > .content-appendix {
  position: relative;
  margin-left: -0.4rem;
  font-size: 0;
}

.message.default > .content {
  padding: 1rem 1.6rem 1.2rem 1.6rem;
  border-radius: 2.4rem;
  border-bottom-left-radius: 0;
  background: #212121;
  box-shadow: 0 0.2rem 0.4rem #1010109c;
}

.message.default > .content > .title {
  color: #a695e7;
}

.message.default > .content > .embedded {
  display: flex;
  padding: 0.8rem 0;
  color: #8774e1;
  font-weight: 300;
}

.message.default > .content > .embedded > .line-wrapper > .line {
  width: 0.4rem;
  height: 100%;
  margin-right: 1.6rem;
  background: #8774e1;
  border-radius: 0.4rem;
}

.message.default > .content > .embedded > .content > .text {
  opacity: 0.75;
  letter-spacing: 0.05rem;
}